<h1 class="bold text-center"><%= welcome %></h1>
<hr>
<div class="col-md-3"></div>
<div class="col-md-6 well text-center">
    <% if member_signed_in? %>
    <% if @current_tournament.present? %>
    <p class="lead">Current Tournament</p>
    <h2><%= link_to @current_tournament.name, @current_tournament %></h2>
    <p> <%= @current_tournament.date.strftime("%B %d, %Y")  %> at  <%= @current_tournament.location %></p>
     <hr>
        <%= link_to "New Fish", new_tournament_fish_path(@current_tournament), class: "btn btn-success btn-lg btn-block" %>
        
    <% else %>
        <%= link_to "Start A New Tournament", new_tournament_path, class: "btn btn-success" %>
    <% end %>
    <% else %>
        <%= link_to "SIGN UP", new_member_registration_path, class: "btn btn-default btn-lg btn-block" %>
        <h3>Or</h3>
        <%= link_to "SIGN IN", new_member_session_path, class: "btn btn-default btn-lg btn-block" %>
    <% end %>
    <hr>
    <div class="well well-sm">
        <% Tournament.all.order(date: :desc).each do |tournament| %>
           <p class="<%= tournament.current? ? "lead" : "text-muted" %>"> <%= link_to tournament.name, tournament %> - <%= tournament.date.stamp("May 5th, 2016") %></p>
        <% end %>
    </div>
</div>
