<div class="col-md-12">
    <h1 class="bold text-center"><%= welcome %></h1>
<div class="col-md-3">
    <% if @current_member.present? && @current_member.me? %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">NEW <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'New Fish', new_fish_path, class: "" %></li>
            <li class="divider"></li>
            <li><%= link_to 'New Color', new_color_path, class: "" if @current_member.present? && @current_member.me? %></li>
            <li><%= link_to 'New Tournament', new_tournament_path, class: "" %></li>
            <li><%= link_to 'All Colors', colors_path, class: "" %></li>
            <li><%= link_to 'All Tournaments', tournaments_path, class: "" %></li>
            <li><%= link_to 'All Fish', fish_index_path, class: "" %></li>
            <li><%= link_to 'New Team', new_team_path, class: "" %></li>
          </ul>
        </li>
    </div>
    <% end %>
</div>
<div class="col-md-6 text-center">
    <% if member_signed_in? %>
    <% if @current_tournament.present? %>
    <p class="lead">Current Tournament</p>
    <h2><%= link_to @current_tournament.name, @current_tournament %></h2>
    <p> <%= @current_tournament.date.strftime("%B %d, %Y")  %> at  <%= @current_tournament.location %></p>
     <hr>
        <%= link_to "New Fish", new_tournament_fish_path(@current_tournament), class: "btn btn-success btn-lg btn-block big-btn" %>
        
    <% else %>
        <%= link_to "Start A New Tournament", new_tournament_path, class: "btn btn-success btn-lg btn-block big-btn" %>
    <% end %>
    <% else %>
        <%= link_to "SIGN UP", new_member_registration_path, class: "btn btn-default btn-lg btn-block big-btn" %>
        <h3>Or</h3>
        <%= link_to "SIGN IN", new_member_session_path, class: "btn btn-default btn-lg btn-block big-btn" %>
    <% end %>
    <hr>
    
</div>
<div class="col-md-3">
    <h2>Upcoming Tournaments</h2>
    <div class="well well-sm">
        <% Tournament.upcoming.order(date: :desc).each do |tournament| %>
           <p class="<%= tournament.current? ? "lead" : "text-muted" %>"> <%= link_to tournament.name, tournament %> - <%= tournament.date.stamp("May 5th, 2016") %></p>
        <% end %>
    </div>
</div>

</div>
