<h1>Listing Tournaments</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Date</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tournaments.each do |tournament| %>
      <tr>
        <td><%= link_to tournament do %>
        <%= tournament.name %>
        <% end %>
        <p><b>Stringer:</b> <%= pluralize(tournament.stringer_total, "lb") %>
        <small><%= tournament.fish.on_stringer.count %></small>
        <br>
        <b>Thrown Back:</b> <%= pluralize(tournament.returned_total, "lb") %>
        </p></td>
        <td><%= tournament.location %></td>
        <td><%= tournament.date.strftime("%B %d, %Y") %></td>
        <td><%= link_to 'Edit', edit_tournament_path(tournament)  if @current_member.me? %></td>
        <td><%= link_to 'Destroy', tournament, method: :delete, data: { confirm: 'Are you sure?' }  if @current_member.me? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tournament', new_tournament_path %>
