<h1>Colors</h1>
<div class="col-md-2"></div>

<div class="col-md-8 table-responsive">
<table class="table">
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @colors.each do |color| %>
      <tr class="<%= color.name.present? ? color.name.downcase : "" %>">
        <td><h2><%= link_to color.name, color %></h2>
          <%= link_to 'Edit', edit_color_path(color), class: "btn btn-default btn-sm" if @current_member.me? %>
        <%= link_to 'Destroy', color, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-sm" if @current_member.me? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<hr>

<%= link_to 'New Color', new_color_path, class: "btn btn-default" if @current_member.me? %>

