<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_url, class: "navbar-brand" do %>
       <%= image_tag("fish_1.png", id: "navbar-logo") %> KatTracker
        <% end %>
        
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= current_member.present? ? "#{current_member.full_name}" : "Sign In  |  Sign Up" %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if !member_signed_in? %>
          <li><%= link_to "SIGN UP", new_member_registration_path %></li>
          <li><%= link_to "SIGN IN", new_member_session_path %></li>
          <% else %>
          <% if @current_tournament.present? && !@current_tournament.new_record? %>
          <li><%= link_to "Current Tournament", tournament_path(@current_tournament)  %></li>
          <% end %>
          <li><%= link_to 'My Team', team_path(current_member.team), class: "" if current_member.team.present? %></li>
          <li><%= link_to "My Profile", current_member%></li>
          <li><%= link_to "Edit Account", edit_member_registration_path %></li>
          <li><%= link_to "SIGN OUT", destroy_member_session_path, method: :delete %></li>
          <% end %>
            </ul>
        </li>
        
        
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>




