
<div class="col-md-12 border">
  <% if @tournament.nil? %>
  <h3><%= fish.tournament.name %></h3>
  <% end %>
  <div class="col-md-6">
    <p class="text-muted"><%= link_to fish.member.username, fish.member %> <span class="small pull-right"><%= time_ago_in_words(fish.created_at) %></span></p>
    <h4 class="color text-center text-<%= fish_color(fish) %>"><%= pluralize(fish.weight, "lb") %></h4>
  </div>
  <%= link_to fish do %>
  <div class="col-md-6 <%= fish.color.name.present? ? fish.color.name.downcase : "" %>">
    <%  if fish.image_id.present? %>
    
     <%= image_tag attachment_url(fish, :image, :fill, 100, 100) %>
     <% else %>
     <h2 class="color text-center text-muted">NO IMAGE</h4>
    <% end %>
  </div>
  <% end %>
  <% if !fish.returned %>
  <h3 id="status" class="bold text-right">
  <%= status(fish) %><br>
</h3>
  <div id="alert-status"><h2><%= link_to "Throw Back", throw_back_tournament_fish_path(fish.tournament, fish), class: "btn btn-danger btn-sm pull-right", 
id: "throw-btn", method: :patch, remote: true %></h2></div>

<% end %>

</div>
