<%= simple_form_for(@fish) do |f| %>
  <%= f.error_notification %>
  
  <div class="form-inputs">
    <%= f.association :member, label_method: :full_name, value_method: :id, include_blank: false if !@fish.new_record? %>
    <%= f.association :tournament, include_blank: false if @tournament.nil? %>
    <%= f.input :tournament_id, label: false, input_html: {value: @tournament.id, class: "hide-this"} if @tournament.present? %>
    <%= f.association :color, collection: @tournament.available_colors, include_blank: false if @tournament.present? %>
    <%= f.association :color, include_blank: false if @tournament.nil? %>
    <%= f.input :weight %>
    <%= f.input :over_28, label: "Over 28 inches?" %>
    
    <%= f.input :returned if !@fish.new_record? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
