<div class="col-md-12 mainpage">
<h2 class="bold">
  <%= link_to @fish.tournament.name, @fish.tournament %>
</h2>
 
<div class="col-md-8 well">
<div id="alert-status"></div>
<h1 id="status" class="bold text-right">
  <%= status(@fish) %><br>
  <%= link_to 'Edit', edit_fish_path(@fish), class: "btn btn-default" if @fish.returned   %> 
</h1>
<h1>
  <%= pluralize(@fish.weight, "lb") %>
</h1>
<hr>
  <% if @fish.over_28 %>
<h1 class="bold text-<%= fish_color(@fish) %>">
  <strong>Over 28 inches</strong>
</h1>
<% end %>
<div class="btn-group btn-justified">
  <%= link_to 'Edit', edit_fish_path(@fish), class: "btn btn-default" if !@fish.returned %>
  <%= link_to 'Back to Tournament', tournament_path(@tournament), class: "btn btn-default" %>
  <%= link_to 'Back', fish_index_path, class: "btn btn-default"  %>
</div>
<div id="alert-status"><h2><%= link_to "Throw Back", throw_back_tournament_fish_path(@tournament, @fish), class: "btn btn-danger big-btn", 
data: {disable_with: "Releasing"}, id: "throw-btn", method: :patch, remote: true if !@fish.returned %></h2></div>

</div>
<div class="col-md-4 <%= @fish.color.present? ? @fish.color.name.downcase : "" %>">
  <div class="text-center">
    
    <% if @fish.image_id? %>
      <%= image_tag attachment_url(@fish, :image, :fill, 300, 300), class: "fish-img" %>
      
  <%else %>
      <div class="no-image">
        <p class="text-center">No Image</p>
      </div>
  <% end %>
  </div>
    
 </div>

</div>
